@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: #ebf0fa;
  @apply text-gray-500 m-8;
}

h1, h2 {
  @apply font-bold text-primary text-lg;
}

*{
  box-sizing: border-box;
}

.devNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.navLeft{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navLinkItem{
  padding-right: 20px;
}

.navLinkItem:hover{
  @apply text-primary;
}

/* Form Styles */
.createNewOrgForm{
  margin-top: 25px;
}

.createNewOrgFormField{
  height: 40px;
  width: 50vw;
  border-radius: 8px;
  padding-left: 10px;
  margin-bottom: 15px;
  background-color: white;
  -webkit-transition: 0.05s;
  outline: none;
}

.createNewOrgFormField:hover, .createNewOrgFormField:focus{
  border: 2px solid #7856ff;
}

/* button styles */
button {
  @apply 
    px-3 py-2 
    rounded-sm 
    flex justify-between items-center gap-2
    text-sm;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}

/* feedback styles */
.error {
  @apply 
    border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}