@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

.devNav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border: 2px solid grey;
  margin-bottom: 20px;
}